release_models/aircraft_classifier/*.keras filter=lfs diff=lfs merge=lfs -text
release_models/eta/*.joblib filter=lfs diff=lfs merge=lfs -text
release_models/hit/*.joblib filter=lfs diff=lfs merge=lfs -text
